@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bakbak+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px dimgray;
    background: transparent;
    text-align: center;
    z-index: 5;
    width: 650px;
    font-size: 15px;
}

thead {
    box-shadow: 0 5px 10px lightgray;
}

th {
    padding: 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Anton';
}

td{
    padding: 2%;
    font-family: 'Anton';
}
body{
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 1000px;
}