*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

}
nav{
	width: 80%;
	position: sticky;
	margin: 20px auto;
	z-index: 1;
	display: flex;
	align-items: center;
}
.logo{
	flex-basis: 20%;
}
.logo img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
	font-style: sans-serif;
}
.navbgcolor{
	background: linear-gradient(to left, #F7F7F7, #FFBC97, #FF7800, #FFE300);
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.nav-links ul li{
	color: #fff;
	text-decoration: none;
}
body{
	font-family: verdana, sans-serif;
}
.mySlides{
	display: none;
}
img{
	vertical-align: middle;
}
.slideshow-container{
	max-width: 80%;
	position: relative;
	margin: auto;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: slategray;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px;
	user-select: none;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 8px;
}
.numbertext{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #wbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6 ease;
}
.active, .dot:hover{
	background-color: #150050;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .7}
	to{opacity: 1}
}
@keyframe fade{
	from {opacity: .7}
	to{opacity: 1}
}


@media only screen and (max-width300px){
	.prev, .next{
		font-size: 11px;
	}
	.dot{
		height: 10px;
		width: 10px;
	}
}

@media only screen and (max-width500px){
	.prev, .next{
		font-size: 11px;
	}
	.dot{
		height: 10px;
		width: 10px;
	}
}
.